div,p,span{
	padding: 0;
	margin:0;
}
.SearchPullDown{
	
	position:absolute;
	z-index: 200;
}
.pd-border{
	border:1px solid #ddd;
}
.SearchPullDown .pd-item{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	cursor: pointer;
}
.SearchPullDown .pd-item:hover,
.SearchPullDown .pd-item.pd-curr{
	color:#efefef;
	background-color: #97D1FA;
}
.SearchPullDown .pd-item:hover span,
.SearchPullDown .pd-item.pd-curr span{
	color:#666;
}
.SearchPullDown .pd-item span{
	line-height: 25px;
	font-size: 18px;
	color:#444;
}
.SearchPullDown .pd-item span.pd-text{
	font-weight: bold;
}
